body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#sliders-container {
    margin-bottom: 40px;
}

.slider-group {
    margin-bottom: 20px;
}

.slider-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.slider-group input[type="range"] {
    width: 80%;
}

#rankings {
    display: flex;
    justify-content: space-between;
}

#rankings ol {
    list-style-position: inside;
    max-height: 500px; /* Set max height for scroll */
    overflow-y: auto; /* Allow vertical scroll */
    padding-right: 10px; /* Space for scrollbar */
}

#rankings h2 {
    text-align: center;
}

#rankings ol li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#rankings ol img {
    margin-right: 10px;
    width: 30px;
}
